.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-home {
  width: 100%;
  height: 3184px;
  display: flex;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 59, 110, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.home-topbar {
  gap: 407px;
  top: 0px;
  left: 0.5px;
  width: 1439px;
  display: flex;
  padding: 8px 164px;
  position: absolute;
  align-items: center;
}
.home-frame3 {
  gap: 20px;
  display: flex;
  align-items: center;
}
.home-menu {
  gap: 25px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home-text {
  color: rgba(238, 238, 238, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: right;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text002 {
  color: rgba(238, 238, 238, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: right;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text004 {
  color: rgba(238, 238, 238, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: right;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text006 {
  color: rgba(238, 238, 238, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: right;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-line1 {
  width: 36px;
  height: 1px;
}
.home-login {
  gap: 27px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home-text008 {
  color: rgba(6, 143, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: right;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-button {
  gap: 10px;
  height: 43px;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(6, 143, 255, 1);
}
.home-label {
  gap: 10px;
  height: 20px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  flex-shrink: 0;
}
.home-text010 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-hero {
  gap: 36px;
  top: 59px;
  left: 1px;
  width: 1439px;
  height: 765px;
  display: flex;
  padding: 56px 161px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-text012 {
  color: rgba(238, 238, 238, 1);
  width: 1135px;
  height: auto;
  font-size: 128px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 106px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text013 {
  color: rgba(238, 238, 238, 1);
}
.home-text014 {
  color: rgba(6, 143, 255, 1);
}
.home-text016 {
  color: rgba(6, 143, 255, 1);
}
.home-frame4 {
  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text018 {
  color: rgba(238, 238, 238, 1);
  width: 445px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-button1 {
  gap: 20px;
  width: 186px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}
.home-button2 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 186px;
  display: flex;
  padding: 12px 20px;
  position: absolute;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(6, 143, 255, 1);
}
.home-label1 {
  gap: 10px;
  display: flex;
  padding: 0 10px;
  align-items: center;
}
.home-text020 {
  color: var(--dl-color-default-lightffffff);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-features {
  gap: 10px;
  top: 824px;
  left: 1px;
  width: 1440px;
  display: flex;
  padding: 60px 165px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-featurecontents {
  gap: 30px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home-featureone {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home-frame {
  width: 40px;
  height: 40px;
}
.home-text022 {
  color: rgba(255, 255, 255, 1);
  width: 294px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text024 {
  color: rgba(191, 191, 191, 1);
  width: 350px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-featuretwo {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home-vector {
  width: 40px;
  height: 40px;
}
.home-text026 {
  color: rgba(255, 255, 255, 1);
  width: 294px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text028 {
  color: rgba(191, 191, 191, 1);
  width: 350px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-featurethree {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home-frame1 {
  width: 40px;
  height: 40px;
}
.home-text030 {
  color: rgba(255, 255, 255, 1);
  width: 294px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text032 {
  color: rgba(191, 191, 191, 1);
  width: 350px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-description {
  gap: 10px;
  top: 1088px;
  left: 1px;
  width: 1439px;
  display: flex;
  padding: 103px 165px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-desc-contents {
  gap: 211px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-para-contents {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-text034 {
  color: rgba(255, 255, 255, 1);
  width: 445px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text035 {
  color: rgba(255, 255, 255, 1);
}
.home-text036 {
  color: rgba(6, 143, 255, 1);
}
.home-text038 {
  color: var(--dl-color-default-white);
  width: 445px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-list {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-frame1 {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.home-oval {
  width: 4px;
  height: 24px;
}
.home-text040 {
  color: var(--dl-color-default-grey);
  width: 429px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame2 {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.home-oval1 {
  width: 4px;
  height: 24px;
}
.home-text042 {
  color: var(--dl-color-default-grey);
  width: 429px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame31 {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.home-oval2 {
  width: 4px;
  height: 24px;
}
.home-text044 {
  color: var(--dl-color-default-grey);
  width: 429px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame41 {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.home-oval3 {
  width: 4px;
  height: 24px;
}
.home-text046 {
  color: var(--dl-color-default-grey);
  width: 429px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-vector1 {
  width: 407px;
  height: 293px;
}
.home-description2 {
  gap: 10px;
  top: 1587px;
  left: 1px;
  width: 1440px;
  display: flex;
  padding: 86px 164px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-frame5 {
  gap: 279px;
  display: flex;
  align-items: center;
}
.home-vector2 {
  width: 385px;
  height: 273px;
}
.home-content {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-text048 {
  color: var(--dl-color-default-white);
  width: 445px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-list1 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-frame11 {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home-icon {
  width: 20px;
  height: 24px;
}
.home-text050 {
  color: var(--dl-color-default-grey);
  width: 413px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame21 {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.home-icon1 {
  width: 20px;
  height: 24px;
}
.home-text052 {
  color: var(--dl-color-default-grey);
  width: 413px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame32 {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.home-icon2 {
  width: 20px;
  height: 24px;
}
.home-text054 {
  color: var(--dl-color-default-grey);
  width: 385px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-review {
  gap: 10px;
  top: 2087px;
  left: 1px;
  width: 1440px;
  display: flex;
  padding: 57px 163px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-reviews-content {
  gap: 30px;
  display: flex;
  padding: 2px;
  overflow: hidden;
  align-items: center;
}
.home-review1 {
  gap: 58px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0, 101, 242, 0.10000000149011612) ;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.home-text056 {
  color: rgba(191, 191, 191, 1);
  width: 286px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text057 {
  color: rgba(191, 191, 191, 1);
}
.home-text058 {
  color: rgba(6, 143, 255, 1);
}
.home-text059 {
  color: rgba(191, 191, 191, 1);
}
.home-text060 {
  color: rgba(6, 143, 255, 1);
}
.home-footer {
  width: 302px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-icons {
  gap: 16px;
  top: 104px;
  left: 254px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
}
.home-icon3 {
  width: 16px;
  height: 16px;
}
.home-frame2 {
  width: 16px;
  height: 16px;
}
.home-customer {
  gap: 16px;
  top: 0px;
  left: 0px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  width: 60px;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-ellipse1 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.home-name {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.home-text062 {
  color: rgba(215, 215, 215, 1);
  width: 230px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text064 {
  color: rgba(215, 215, 215, 1);
  width: 230px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-review2 {
  gap: 58px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0, 101, 242, 0.10000000149011612) ;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.home-text066 {
  color: rgba(191, 191, 191, 1);
  width: 286px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text067 {
  color: rgba(191, 191, 191, 1);
}
.home-text068 {
  color: rgba(6, 143, 255, 1);
}
.home-text069 {
  color: rgba(191, 191, 191, 1);
}
.home-text070 {
  color: rgba(6, 143, 255, 1);
}
.home-footer1 {
  width: 302px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-icons1 {
  gap: 16px;
  top: 104px;
  left: 254px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
}
.home-icon4 {
  width: 16px;
  height: 16px;
}
.home-frame3 {
  width: 16px;
  height: 16px;
}
.home-customer1 {
  gap: 16px;
  top: 0px;
  left: 0px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-image1 {
  width: 60px;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-ellipse11 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.home-name1 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.home-text072 {
  color: rgba(215, 215, 215, 1);
  width: 230px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text074 {
  color: rgba(215, 215, 215, 1);
  width: 230px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-review3 {
  gap: 31px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0, 101, 242, 0.10000000149011612) ;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.home-text076 {
  color: rgba(191, 191, 191, 1);
  width: 286px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text077 {
  color: rgba(191, 191, 191, 1);
}
.home-text078 {
  color: rgba(6, 143, 255, 1);
}
.home-footer2 {
  width: 302px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-icons2 {
  gap: 16px;
  top: 104px;
  left: 254px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
}
.home-icon5 {
  width: 16px;
  height: 16px;
}
.home-frame4 {
  width: 16px;
  height: 16px;
}
.home-customer2 {
  gap: 16px;
  top: 0px;
  left: 0px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-image2 {
  width: 60px;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-ellipse12 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.home-name2 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.home-text080 {
  color: rgba(215, 215, 215, 1);
  width: 230px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text082 {
  color: rgba(215, 215, 215, 1);
  width: 230px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-pre-footer {
  gap: 10px;
  top: 2628px;
  left: 0px;
  width: 1440px;
  display: flex;
  padding: 60px 450px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-content1 {
  gap: 32px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.home-headline {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.home-text084 {
  color: rgba(255, 255, 255, 1);
  width: 540px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.home-buttons {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home-buttons-small-primary-active {
  gap: 10px;
  display: flex;
  padding: 6px 10px;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(6, 143, 255, 1);
}
.home-label2 {
  gap: 10px;
  display: flex;
  padding: 0 10px;
  align-items: center;
}
.home-text086 {
  color: var(--dl-color-default-lightffffff);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-footer3 {
  gap: 77px;
  top: 2948px;
  left: 1px;
  width: 1440px;
  height: 236px;
  display: flex;
  padding: 36px 156px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.6299999952316284);
}
.home-menu1 {
  gap: 114px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.home-column1 {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-text088 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-menu2 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-text090 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text092 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text094 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text096 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-column3 {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-text098 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-menu3 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-text100 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text102 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text104 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-column2 {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-text106 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-menu4 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-text108 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text110 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text112 {
  color: var(--dl-color-default-grey);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-subscribe {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-text114 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame12 {
  gap: 20px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.home-inputs-default {
  gap: 196px;
  width: 350px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: var(--dl-color-input-lighte0ecfd40);
}
.home-state {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-icons24px-plane {
  top: 12px;
  left: 314px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-text116 {
  top: 12px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  opacity: 0.50;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text118 {
  color: rgba(255, 255, 255, 1);
  width: 350px;
  height: auto;
  opacity: 0.40;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
