.home {
  width: fit-content;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 59.99, 110.5) 100%);
}

.home .topbar {
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 407px;
  padding: 8px 200px;
  position: relative;
  flex: 0 0 auto;
}

.home .logo {
  position: relative;
  width: auto;
  height: 24px;
  background: linear-gradient(180deg, rgb(6, 143, 255) 0%, rgb(147.93, 206.84, 255) 57%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.1px;
  line-height: 24px;
  white-space: nowrap;
}

.home .frame {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.home .navbar {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: #eeeeee;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0.1px;
  line-height: 24px;
  white-space: nowrap;
}

.home .line {
  position: relative;
  width: 1px;
  height: 36px;
  object-fit: cover;
}

.home .log-in {
  display: inline-flex;
  align-items: center;
  gap: 27px;
  position: relative;
  flex: 0 0 auto;
}

.home .menu-two {
  position: relative;
  width: fit-content;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: #068fff;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0.1px;
  line-height: 24px;
  white-space: nowrap;
}

.home .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  height: 43px;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #068fff;
  border-radius: 4px;
}

.home .label {
  display: inline-flex;
  height: 20px;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  margin-bottom: -1px;
}

.home .action {
  margin-top: -3px;
  margin-bottom: -1px;
  position: relative;
  width: fit-content;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 24px;
  white-space: nowrap;
}

.home .hero {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  /*width: 1439px;*/
  width: 100%;
  height: 765px; 
  gap: 36px;
  padding: 0px 0px;
  position: relative;
}

.home .text1 {
  display: flex; 
  justify-content: center; 
  align-items: center;
  position: relative;

  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 128px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 128px;
}

.home .text2 {
  display: flex; 
  justify-content: center; 
  align-items: center;

  position: relative;
  align-self:center;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 128px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 128px;
}

.home .span {
  color: #eeeeee;
  letter-spacing: -1.28px;
  line-height: 106px;
}

.home .text-wrapper-2 {
  color: #068fff;
  letter-spacing: -1.28px;
  line-height: 106px;
}

.home .div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.home .h {
  position: relative;
  width: 445px;
  margin-top: -1px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #eeeeee;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.home .button-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 186px;
  height: 48px;
}

.home .label-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  position: relative;
  background-color: #068fff;
  border-radius: 4px;
}

.home .action-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  flex: 0 0 auto;
}

.home .action-2 {
  margin-top: -1px;
  position: relative;
  width: fit-content;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--light-ffffff);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 24px;
  white-space: nowrap;
}

/*End of hero, start of features*/

.home .features {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 60px 165px;
  position: relative;
  flex: 0 0 auto;
}


.home .feature-contents {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.home .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.home .div-3 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.home .img {
  position: relative;
  width: 40px;
  height: 40px;
}

.home .text-wrapper-3 {
  position: relative;
  width: 294px;
  margin-top: -1px;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.home .all-base-UI-elements {
  position: relative;
  width: 350px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #bfbfbf;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
}

.home .feature-three {
  position: relative;
  width: 294px;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}


.home .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 103px 165px;
  position: relative;
  flex: 0 0 auto;
}

.home .desc-contents {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 211px;
  position: relative;
  flex: 0 0 auto;
}

.home .long-headline-on-two {
  position: relative;
  width: 445px;
  margin-top: -1px;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 24px;
  letter-spacing: -0.1px;
  line-height: 32px;
}

.home .text-wrapper-4 {
  color: #ffffff;
  letter-spacing: -0.02px;
}

.home .text-wrapper-5 {
  color: #068fff;
  letter-spacing: -0.02px;
}

.home .separated-they-live {
  position: relative;
  width: 445px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
}

.home .div-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.home .element {
  align-items: flex-start;
  display: inline-flex;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.home .oval {
  position: relative;
  flex: 0 0 auto;
}

.home .p {
  position: relative;
  width: 429px;
  margin-top: -1px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
}

.home .vector {
  position: relative;
  width: 407.21px;
  height: 292.65px;
}

.home .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 86px 164px;
  position: relative;
  flex: 0 0 auto;
}

.home .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 279px;
  position: relative;
  flex: 0 0 auto;
}

.home .vector-2 {
  position: relative;
  width: 384.73px;
  height: 273.24px;
}

.home .long-headline-on-two-2 {
  position: relative;
  width: 369.74px;
  flex: 0 0 auto;
}

.home .element-2 {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.home .icon {
  position: relative;
  width: 20px;
  height: 24px;
}

.home .text-wrapper-6 {
  position: relative;
  width: 413px;
  margin-top: -1px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
}


.home .sell-your-videos-wor {
  position: relative;
  width: 385px;
  margin-top: -1px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
}

.home .review {
  gap: 10px;
  padding: 57px 163px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.home .reviews-content {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 2px;
  position: relative;
  flex: 0 0 auto;
}

.home .review-2 {
  gap: 58px;
  padding: 24px;
  background-color: #000000;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 4px #0065f21a, 0px 0px 2px #0065f21a;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home .subtitle-text {
  position: relative;
  width: 286px;
  margin-top: -1px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.home .text-wrapper-7 {
  color: #bfbfbf;
}

.home .text-wrapper-8 {
  color: #068fff;
}

.home .footer {
  position: relative;
  width: 302px;
  height: 120px;
}

.home .icons {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 104px;
  left: 254px;
}

.home .img-2 {
  position: relative;
  width: 16px;
  height: 16px;
}

.home .customer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.home .image {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url(./img/ellipse-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .name {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.home .label-2 {
  position: relative;
  width: 230px;
  margin-top: -1px;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: #d7d7d7;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
}

.home .text-2 {
  position: relative;
  width: 230px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #d7d7d7;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.home .image-2 {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url(./img/ellipse-1-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .review-3 {
  gap: 31px;
  padding: 24px;
  background-color: #000000;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 4px #0065f21a, 0px 0px 2px #0065f21a;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home .image-3 {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url(./img/ellipse-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .pre-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 60px 450px;
  position: relative;
  flex: 0 0 auto;
}

.home .content {
  align-items: center;
  gap: 32px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.home .headline {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}


.home .text-wrapper-9 {
  position: relative;

  height: 24px;
  margin-top: -1px;
  background: linear-gradient(180deg, rgb(6, 143, 255) 0%, rgb(147.93, 206.84, 255) 57%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.1px;
  line-height: 24px;
  white-space: nowrap;
}

.home .long-headline-to-tur {
  position: relative;
  width: 540px;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 48px;
}

.home .buttons-small {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #068fff;
  border-radius: 4px;
}

.home .footer-2 {
  display: flex;
  height: 236px;
  justify-content: center; 
  align-items: center;
  gap: 77px;
  padding: 36px 156px;
  position: relative;
  background-color: #000000a1;
}

.home .menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 114px;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper-10 {
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.home .first-page {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.home .text-wrapper-11 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: fit-content;
  white-space: nowrap;
}

.home .subscribe {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.home .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.home .inputs-default {
  position: relative;
  width: 350px;
  height: 48px;
  background-color: var(--input-light-e0ecfd-40);
}

.home .state {
  width: 352px;
  height: 48px;
}

.home .overlap-group {
  position: relative;
  width: 350px;
  height: 48px;
  background-color: #ffffff;
}

.home .icons-plane {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 314px;
}

.home .placeholder {
  position: absolute;
  height: 24px;
  top: 12px;
  left: 16px;
  opacity: 0.5;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.home .join-our-newsletter {
  position: relative;
  width: 350px;
  opacity: 0.4;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}