.landing-page-template-1440-px,
.landing-page-template-1440-px * {
  box-sizing: border-box;
}
.landing-page-template-1440-px {
  background: #000000;
  height: 3744px;
  position: relative;
  overflow: hidden;
}
.menu-4 {
  background: linear-gradient(to left, #000000, #000000);
  padding: 17px 40px 17px 48px;
  height: 58px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.frame-2 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 143, 255, 0.31) 46.899962425231934%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 1440px;
  height: 3571px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 390px;
  top: calc(50% - 1768.5px);
  overflow: hidden;
}
.menu-one {
  color: #eeeeee;
  text-align: right;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
}
.menu-two {
  color: #eeeeee;
  text-align: right;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
}
.menu-six {
  color: #eeeeee;
  text-align: right;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
}
.menu2 {
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 165px;
  top: calc(50% - 1778px);
  overflow: hidden;
}
.menu-two2 {
  color: #068fff;
  text-align: right;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
}
.button {
  background: #068fff;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 43px;
  position: relative;
}
.label {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.action {
  color: #ffffff;
  text-align: center;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-1 {
  border-style: solid;
  border-color: #d8d8d8;
  border-width: 1px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 1069px;
  top: calc(50% - 1774.5px);
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.resume-wizard {
  background: linear-gradient(
    180deg,
    rgba(6, 143, 255, 1) 0%,
    rgba(148, 207, 255, 1) 56.99999928474426%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: absolute;
  left: 165px;
  top: calc(50% - 1768.5px);
  width: 140px;
  height: 24px;
}
.cover-2 {
  padding: 60px 165px 60px 165px;
  height: 746px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 60px;
}
.content {
  width: 1113px;
  height: 288px;
  position: absolute;
  left: 165px;
  top: calc(50% - 180px);
  overflow: hidden;
}
.headline {
  width: 1113px;
  height: 299px;
  position: absolute;
  left: 0px;
  top: -47px;
  overflow: hidden;
}
.medium-length-displa {
  text-align: center;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 128px;
  line-height: 106px;
  letter-spacing: -1px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 556.5px);
  top: calc(50% - 122.5px);
  width: 1113px;
  height: 361px;
}
.medium-length-displa-span {
  color: #eeeeee;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 128px;
  line-height: 106px;
  letter-spacing: -1px;
  font-weight: 700;
}
.medium-length-displa-span2 {
  color: #068fff;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 128px;
  line-height: 106px;
  letter-spacing: -1px;
  font-weight: 700;
}
.medium-length-displa-span3 {
  color: #eeeeee;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 128px;
  line-height: 106px;
  letter-spacing: -1px;
  font-weight: 700;
}
.separated-they-live {
  color: #eeeeee;
  text-align: center;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 223px);
  top: calc(50% - -144px);
  width: 445px;
}
.button2 {
  width: 186px;
  height: 48px;
  position: absolute;
  left: calc(50% - 93px);
  top: 642px;
  overflow: hidden;
}
.button3 {
  background: #068fff;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 93px);
  top: calc(50% - 24px);
}
.label2 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.action2 {
  color: var(--light-ffffff, #ffffff);
  text-align: center;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-4 {
  padding: 60px 165px 60px 165px;
  width: 1440px;
  height: 248px;
  position: absolute;
  left: 0px;
  top: 806px;
}
.layout {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 555px);
  top: calc(50% - 64px);
  overflow: hidden;
}
.feature-one {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.feature-one2 {
  color: #ffffff;
  text-align: left;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
  width: 294px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.all-base-ui-elements {
  color: #bfbfbf;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 350px;
}
.feature-two {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.vector {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.feature-two2 {
  color: #ffffff;
  text-align: left;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
  width: 294px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.feature-three {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame2 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.feature-three2 {
  color: #ffffff;
  text-align: left;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
  width: 294px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contents-5 {
  padding: 60px 165px 60px 165px;
  height: 500px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1054px;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 165px;
  top: calc(50% - 132px);
  overflow: hidden;
}
.long-headline-on-two {
  text-align: left;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-weight: 700;
  position: relative;
  width: 445px;
}
.long-headline-on-two-span {
  color: #ffffff;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-weight: 700;
}
.long-headline-on-two-span2 {
  color: #068fff;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-weight: 700;
}
.long-headline-on-two-span3 {
  color: #ffffff;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-weight: 700;
}
.separated-they-live2 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 445px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
._1 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.oval {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.showcase-and-embed-y {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 429px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.oval2 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.publish-across-socia {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 429px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._3 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.oval3 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.sell-your-videos-wor {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 429px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.oval4 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.embed-your-work-with {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 429px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contents-6 {
  padding: 60px 165px 60px 165px;
  height: 500px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1554px;
}
.content3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 830px;
  top: calc(50% - 164px);
  overflow: hidden;
}
.long-headline-on-two-span4 {
  color: #ffffff;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-weight: 700;
}
.long-headline-on-two-span5 {
  color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 70.99999785423279%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-weight: 700;
}
.long-headline-on-two-span6 {
  color: #ffffff;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-weight: 700;
}
.long-headline-on-two-span7 {
  color: linear-gradient(
    180deg,
    rgba(6, 143, 255, 1) 74.91618394851685%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-weight: 700;
}
._12 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon {
  flex-shrink: 0;
  width: 20px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.showcase-and-embed-y2 {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 413px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon2 {
  flex-shrink: 0;
  width: 20px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.publish-across-socia2 {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 413px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon3 {
  flex-shrink: 0;
  width: 20px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.sell-your-videos-wor2 {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 413px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group {
  height: auto;
  position: absolute;
  left: 213px;
  top: 105px;
  overflow: visible;
}
.customers-8 {
  padding: 58px 163px 58px 163px;
  width: 1440px;
  height: 542px;
  position: absolute;
  left: calc(50% - 720px);
  top: 2054px;
}
.reviews {
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 557px);
  top: 58px;
  overflow: hidden;
}
.review-1 {
  background: #000000;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 58px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 1px 4px 0px rgba(0, 101, 242, 0.1),
    0px 0px 2px 0px rgba(0, 101, 242, 0.1);
  overflow: hidden;
}
.subtitle-text {
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  width: 286px;
}
.subtitle-text-span {
  color: #bfbfbf;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span2 {
  color: #068fff;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span3 {
  color: #bfbfbf;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span4 {
  color: #068fff;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span5 {
  color: #bfbfbf;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.footer {
  flex-shrink: 0;
  width: 302px;
  height: 120px;
  position: static;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 24px;
  bottom: 24px;
  overflow: hidden;
}
.icon4 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame3 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.customer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 24px;
  bottom: 24px;
  overflow: hidden;
}
.image {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
}
.ellipse-1 {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.label3 {
  color: #d8d8d8;
  text-align: left;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text {
  color: #d8d8d8;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review-2 {
  background: #000000;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 58px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 1px 4px 0px rgba(0, 101, 242, 0.1),
    0px 0px 2px 0px rgba(0, 101, 242, 0.1);
  overflow: hidden;
}
.subtitle-text-span6 {
  color: #bfbfbf;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span7 {
  color: #068fff;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span8 {
  color: #bfbfbf;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span9 {
  color: #068fff;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span10 {
  color: #bfbfbf;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.icon5 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame4 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.review-3 {
  background: #000000;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 1px 4px 0px rgba(0, 101, 242, 0.1),
    0px 0px 2px 0px rgba(0, 101, 242, 0.1);
  overflow: hidden;
}
.subtitle-text-span11 {
  color: #bfbfbf;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span12 {
  color: #068fff;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-text-span13 {
  color: #bfbfbf;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.icon6 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame5 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.text-12 {
  padding: 60px 450px 60px 450px;
  width: 1440px;
  height: 592px;
  position: absolute;
  left: calc(50% - 720px);
  top: 2596px;
}
.content4 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 450px;
  top: 60px;
  overflow: hidden;
}
.headline2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.short-headline {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50.49999952316284%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.5px;
  font-weight: 700;
  position: relative;
  width: 540px;
}
.acme-automates-your {
  color: #ffffff;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: relative;
  width: 540px;
}
.list2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.list-1 {
  flex-shrink: 0;
  width: 540px;
  height: 60px;
  position: relative;
}
.divider {
  height: 1px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -1px;
}
.muted {
  opacity: 0.07999999821186066;
  position: absolute;
  inset: 0;
}
.line {
  background: var(--white, #ffffff);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.arrow {
  width: 14px;
  height: 22px;
  position: absolute;
  right: 0px;
  top: calc(50% - 9px);
  overflow: visible;
}
.title2 {
  color: #bfbfbf;
  text-align: left;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  right: 38px;
  left: 2.2737367544323206e-13px;
  top: calc(50% - 14px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.divider2 {
  height: 1px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.list-2 {
  flex-shrink: 0;
  width: 540px;
  height: 60px;
  position: relative;
}
.arrow2 {
  width: 14px;
  height: 22px;
  position: absolute;
  right: 0px;
  top: calc(50% - 9px);
  overflow: visible;
}
.list-3 {
  flex-shrink: 0;
  width: 540px;
  height: 60px;
  position: relative;
}
.arrow3 {
  width: 14px;
  height: 22px;
  position: absolute;
  right: 0px;
  top: calc(50% - 9px);
  overflow: visible;
}
.list-4 {
  flex-shrink: 0;
  width: 540px;
  height: 60px;
  position: relative;
}
.arrow4 {
  width: 14px;
  height: 22px;
  position: absolute;
  right: 0px;
  top: calc(50% - 9px);
  overflow: visible;
}
.list-5 {
  flex-shrink: 0;
  width: 540px;
  height: 60px;
  position: relative;
}
.arrow5 {
  width: 14px;
  height: 22px;
  position: absolute;
  right: 0px;
  top: calc(50% - 9px);
  overflow: visible;
}
.contents-2 {
  padding: 60px 450px 60px 450px;
  width: 1440px;
  height: 320px;
  position: absolute;
  left: calc(50% - 720px);
  top: 3188px;
}
.content5 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 270px);
  top: calc(50% - 100px);
  overflow: hidden;
}
.headline3 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.resume-wizard2 {
  background: linear-gradient(
    180deg,
    rgba(6, 143, 255, 1) 0%,
    rgba(148, 207, 255, 1) 56.99999928474426%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: relative;
  width: 140px;
  height: 24px;
}
.long-headline-to-tur {
  color: #ffffff;
  text-align: center;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.5px;
  font-weight: 700;
  position: relative;
  width: 540px;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.buttons-small-primary-active {
  background: #068fff;
  border-radius: 4px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.footer-13 {
  padding: 40px 165px 40px 165px;
  height: 236px;
  position: absolute;
  right: 8.5px;
  left: 8.5px;
  bottom: 0px;
}
.resume-wizard3 {
  background: linear-gradient(
    180deg,
    rgba(6, 143, 255, 1) 0%,
    rgba(148, 207, 255, 1) 56.99999928474426%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-family: "SfProDisplay-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: absolute;
  left: 155.5px;
  top: calc(50% - 82px);
  width: 140px;
  height: 24px;
}
.menu3 {
  display: flex;
  flex-direction: row;
  gap: 114px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 348px;
  top: 40px;
  overflow: hidden;
}
.column-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.first-column {
  color: #ffffff;
  text-align: left;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
}
.menu4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.first-page {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.second-page {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.third {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.fourth {
  color: var(--grey, #bfbfbf);
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.column-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.third2 {
  color: #ffffff;
  text-align: left;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
}
.column-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.second {
  color: #ffffff;
  text-align: left;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
}
.subscribe {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 165px;
  top: 40px;
  overflow: hidden;
}
.subscribe2 {
  color: #ffffff;
  text-align: left;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.inputs-default {
  background: var(--input-light-e0ecfd-40percent, rgba(224, 236, 253, 0.4));
  flex-shrink: 0;
  width: 350px;
  height: 48px;
  position: relative;
}
.state {
  position: absolute;
  inset: 0;
}
.input {
  background: #ffffff;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.icons-24-px-plane {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 12px;
  bottom: 12px;
  overflow: visible;
}
.placeholder {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 16px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.join-our-newsletter {
  color: #ffffff;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  opacity: 0.4000000059604645;
  position: relative;
  width: 350px;
}
.group2 {
  height: auto;
  position: absolute;
  left: 793px;
  top: 1158px;
  overflow: visible;
}
